.main-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  height: 100%;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.text-section h1 {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 20px;
}

.text-section p {
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: red;
  margin-bottom: 20px;
}

.text-section button {
  padding: 8px 16px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.welcome {
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.doctor-graphic {
  animation: fadeIn 1s ease-in-out;
  width: 40vw;
  height: auto;
}
